src/
node_modules/
*.d.ts.map
*.js.map
*.spec.*
*.test.*
index.html
public

# Optionally match deeper files too
**/*.d.ts.map
**/*.js.map
**/*.spec.*
**/*.test.*

jest.config.js
jest.config.unit.js
pnpm-lock.yaml
*.test.ts
*.spec.ts
benchmark
.vscode
mapia*.tgz
coverage